DATABASE_URI=postgres://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require
PAYLOAD_SECRET=replace-with-a-long-random-secret
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SQUARE_BOOKING_URL=https://app.squareup.com/appointments/book/wbpchl5ud2lj5e/LHJGKGT3B7Z7V/start

NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=0x4AAAAAAEBeGk1Q7EyYGRGg
CLOUDFLARE_TURNSTILE_SECRET_KEY=0x4AAAAAAEBeGmLbTn-vHyoRAQvhV_iYoyc
TURNSTILE_ALLOWED_HOSTNAMES=localhost

INQUIRY_TO_EMAIL=sam@gamahsoft.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sam@gamahsoft.com
SMTP_PASSWORD=znothyakhbbxuwlf
SMTP_FROM="Upland Pet Grooming <sam@gamahsoft.com>"

R2_BUCKET=upland-pet-grooming-media
R2_ACCESS_KEY_ID=bfca1bed7596db64aee7c5223a1f4865
R2_SECRET_ACCESS_KEY=7761d81349b0ec09743a44034b1ab8a9dacc388758533615242947520bc83a7b
R2_ENDPOINT=https://451e60f2060b7504f65f63930b55c050.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://451e60f2060b7504f65f63930b55c050.r2.cloudflarestorage.com/upland-pet-grooming-media
